<div class="container">
  <div *ngIf="authService.isLoggedIn()">
      <button class="logout-button" (click)="logout()">Logout</button>
  </div>
  <button class="back-button" (click)="goBack()">Назад</button>
  
  <h2>Tickets</h2>    
  <ul>
      <li *ngFor="let ticket of tickets">
          <p><strong>Ticket ID : </strong> {{ ticket.ticket_id }}</p>
          <p><strong>Flight : </strong> ({{ ticket.flight.departure_airport }} to {{ ticket.flight.arrival_airport }})</p>
          <p><strong>Price : </strong> {{ ticket.price }}</p>
      </li>
  </ul>
</div>